---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Worldcoo Kiosk</title>
  </head>
  <body class="bg-beige h-screen flex flex-col justify-center items-center">
    <div class="font-semibold text-4xl lg:text-8xl size-fit text-center tracking-[-.1em]">
      <span id="totalCounter" class="-mr-6"></span> €
    </div>
  </body>
</html>

<script>
  import { CountUp } from 'countup.js';
  import { Odometer } from 'odometer_countup';
  import confetti from 'canvas-confetti';

  let previousAmount = 0;
  const goalToThrowConfetti = 10000;

  const counter = new CountUp(
    'totalCounter',
    0,
    {
      startVal: 0,
      decimalPlaces: 2,
      separator: ".",
      decimal: ",",
      plugin: new Odometer({ duration: 2.3, lastDigitDelay: 0 }),
      duration: 3.0,
    }
  );

  if (!counter.error) {
    counter.start();
  } else {
    console.error(counter.error);
  }

  const updateCounter = (amount: number) => {
    counter.update(amount);

    // Show confetti at the end of counter animation
    if (previousAmount !== 0 && Math.round(previousAmount) % goalToThrowConfetti === 0) {
      confetti({ particleCount: 150, spread: 180 })
    }

    previousAmount = amount;
  };

  const sleep = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));

  while (true) {
    const now = new Date().getTime();
    const serverResponse = await fetch(
      "https://459yv0cj03.execute-api.eu-west-1.amazonaws.com/donations",
    );
    const { donations, total } = await serverResponse.json() as { donations: { amount: number, date: string }[], total: number };

    const timeToNextDonationsRequestInSeconds = +/\d+/g.exec(
      serverResponse.headers.get("cache-control")!,
    )![0];

    let totalAmountTillNow =
      donations
        .filter((d) => new Date(d.date).getTime() <= now)
        .reduce((acc, d) => acc + d.amount, 0) + total;
    updateCounter(totalAmountTillNow);
    const newDonationsUpdates = donations
      .filter((d) => new Date(d.date).getTime() > now)
      .map((d) => {
        return new Promise((resolve) =>
          setTimeout(
            () => {
              totalAmountTillNow += d.amount;
              updateCounter(totalAmountTillNow);
              resolve(void 0);
            },
            new Date(d.date).getTime() - now,
          ),
        );
      });

    await Promise.all([
      Promise.all(newDonationsUpdates),
      sleep(timeToNextDonationsRequestInSeconds * 1000),
    ]);
  }
</script>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700&display=swap");
  body {
    font-family: "Sono", sans-serif;
  }
</style>
